<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>tranScriptorium Language Resource server</display-name>
    <description>
      tranScriptorium Language Resource server
    </description>

<!--
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Everything</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
       <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
-->
	<servlet>
   		<servlet-name>LMServer</servlet-name>
   		<servlet-class>eu.transcriptorium.servlet.LMServer</servlet-class>
   		<init-param>
   			<param-name>taggers</param-name>
   			<param-value><!--stanford-ner-kbkranten impact-tagger-lemmatizer-dutch-sonar-->impact-ner stanford-ner-english text2tei word2tei epub2tei html2tei</param-value>
   		</init-param>
        <init-param>
                <param-name>repositoryConnection</param-name>
                <param-value>{dbHost:localhost, dbPort:5432, dbSchemaName:lmserver, dbPasswd:inl, dbUser:postgres}</param-value>
        </init-param>
	</servlet>
     <servlet-mapping>
   <servlet-name>LMServer</servlet-name>
   <url-pattern>/LMServer</url-pattern>
</servlet-mapping>
</web-app>
